<div class="modal fade" id="confirmModal" role="dialog">
<div class="modal-dialog"><!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<h4 id="confirm-title">{{ data['confirm_title_text'] ?: 'Save Node' }}</h4></div>

<div class="modal-body">
<p>{{ data['confirm_body_text'] ?: 'Do you want to save this node?' }}</p>
</div>

<div class="modal-footer"><button class="btn btn-outline-primary close-modal" type="button">{{ data['no_text'] ?: 'No' }}</button><button class="btn btn-primary" id="confirm-yes">{{ data['yes_text'] ?: 'Yes' }}</button></div>
</div>
</div>
</div>
